@model DataAccessLayer.Models.Account
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Account";
}

@{
    @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") == null)
    {
        <h1>@ViewData["Title"]</h1>
        <div class="alert alert-info">
            <p>Log in om toegang te krijgen tot de applicatie.</p>

        </div>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    }

    @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
    {

        <div class="alert alert-success">
            Welkom, @HttpContextAccessor.HttpContext.Session.GetString("UserName")!
        </div>

        <h1>Account</h1>
        <p>Naam: @HttpContextAccessor.HttpContext.Session.GetString("UserName")</p>
        <br />
        <form asp-action="EditName">
            <input type="hidden" name="Name" value="@HttpContextAccessor.HttpContext.Session.GetString("UserName")" />
            <input type="hidden" name="Password" value="@HttpContextAccessor.HttpContext.Session.GetString("Password")" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="NewName">Nieuwe naam</label>
                <input name="NewName" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Wijzig naam" class="btn btn-primary" />
            </div>
        </form>

        <br />
        <br />
        <form asp-action="EditPassword">
            <input type="hidden" name="Name" value="@HttpContextAccessor.HttpContext.Session.GetString("UserName")" />
            <input type="hidden" name="Password" value="@HttpContextAccessor.HttpContext.Session.GetString("Password")" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="OldPassword">Oud wachtwoord</label>
                <input name="OldPassword" class="form-control" />
            </div>
            
            <div class="form-group">
                <label for="NewPassword">Nieuw wachtwoord</label>
                <input name="NewPassword" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Wijzig wachtwoord" class="btn btn-primary" />
            </div>
        </form>

        <br />
        <br />
        <form asp-action="Logout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Logout" class="logout" />
            </div>
        </form>
    }
}